
:root {



    --bg-main: #F2e5d5;
    --bg-light: #d99379;
    --bg-med: #8c8070;
    --bg-dark: #594e3f;
    --bg-dark-alt: #8c311c;
    --text-main: #594e3f;
    --replace-black: #201d1d;
}

body {
    font-family:'Courier New', Courier, monospace ;
    margin: 0;
    background-color: var(--bg-main);
    color: var(--text-main);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--bg-main);
    font-family: Georgia, Times, 'Times New Roman', serif ; 
    font-variant:small-caps ;
}

h4, h5 {
    font-size: 16px ;
}

input {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg-main);
}

a {
    color: var(--bg-light);
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--bg-main);
    background-color: var(--replace-black);
    border: none;
    margin: 6px;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: var(--bg-light);
}

/* TOP BAR */

.top-bar {
    /* display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
        "navigate navigate navigate"
        "title-bk tutorial control-"
    ;

    background-color: var(--bg-dark);
    color: var(--bg-main);
}

.navigation {
    background-color: var(--replace-black);
    grid-area: navigate;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.title-block {
    grid-area: title-bk;
    display: flex;
}

.title {
    background-color: var(--bg-dark-alt);
    /* display: flex;
    float: right;
    flex-direction: column;
    text-align: center; */
    padding: 40px;
    width: 400px;
    vertical-align: middle;
}

.subtitle {
    text-align: center;
}

.tutorial {
    grid-area: tutorial;
}
.control-area {
    grid-area: control-;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "run-reset sim-title"
        "run-reset control-s"
    ;

}

button.control-button-sim {
    /* padding: 30px; */
    border-radius: 50px;
    width: 100px;
    height: 100px;
    font-size: 16px;
}

/* Control Area */



.run-reset {
    grid-area: run-reset;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sim-buttons {
    grid-area: control-s;
    display: flex;
}

.sim-title {
    grid-area: sim-title;
}





.data-wrapper {
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-areas:
    "cashflo graph-h"
    "cashflo graph-h"
    ;
}

.bond-adder {
    grid-area: cashflo;
    text-align: center;
    color: var(--bg-main);
    background-color: var(--bg-med);
}

.cashflow button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.bond-definition {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 3px;
    align-content: space-between;
    text-align: right;
    vertical-align: middle;
    
}

.bond-definition p {
    margin: 4px;
    font-size: 14px;
    text-align: center;
}

.bond-definition input {
    width: 50px;
    text-align: right;
}

.bond-definition button {
    font-size: 20px;
}

.cashflow {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark-alt);
    color: var(--bg-main);
    padding: 12px;
    border: var(--replace-black) 4px double;
}

.div-cf-title {
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
}

.div-cf-data {

    margin: 10px;
    width: 450px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 60px);
    justify-content: space-evenly;
    vertical-align: middle;
    
}     


.cashflow button {
    font-size: 20px;
    margin: auto;
    
}

.graph-holder {
    grid-area: graph-h;

}

#columnchart_material {
    margin: 20px;
    padding: 20px;
}
